
nav{
    display: flex;
    justify-content: space-between;
    background-color: #1d809f;
}
.logo{
    font-size: 30px;
    color: blue;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 8px;
}

nav ul li{
    text-decoration: none;
}